*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    width: 100vw;
    background-color: #333;
    color: white;
    overflow: hidden;
}

ul{
    list-style: none;
}

li{
    float: left;
    padding: 4vh;
    cursor: pointer;
}

li:hover{
    background-color: #ddd;
    color:black;
}

.active:not(.hover){
    background-color: green;
    color: white;
}
.main h2{
    font-weight: normal;
    padding: 20px;
}
.main h4{
    font-weight: normal;
    padding: 10px 20px;
}