*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    color: white;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
}

li{
    float: left;
    list-style: none;
}

li ,.side-button {
    font-weight: normal;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
}
.side-button{
    padding: 15px 25px;
    background-color: #04AA6D;
}

ul li:hover{
    color: black;
    background-color: #ffff;
}

main h1{
    margin: 20px 10px;
    font-size: 24px;
}
main p{
    margin: 20px 10px;
    font-size: 16px;
}