*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


nav ul{
    overflow: hidden;
    color: white;
    background-color: #333;
}

nav ul li{
    cursor: pointer;
    padding: 20px 50px;
    float: left;
    list-style: none;
}
nav ul li:hover{
    background-color: black;

}
.active{
    background-color: green;
}
nav ul li i{
    margin-right: 5px;
}

@media screen and (max-width: 500px) {
    nav ul{
        display: flex;
        flex-direction: column;
    }
}